<%= form_with model: Comment.new do |form| %>
  <%= form.hidden_field :publication_id, value: publication.id %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <div class="mb-3">
    <%= form.label "Add comment", class: "form-label" %>
    <%= form.text_area :content, rows: 3, class: "form-control" %>
  </div>

  <%= form.submit 'Add comment', class: "btn btn-primary" %>
<% end %>