<div id="w-node-e589e84a-0ba8-c850-6ac1-a4c50ec4c3b3-bdf1cc2e" class="full-page-wrapper">
  <div class="center-card">
    <div class="text-box">
      <h1 class="heading h3">Admin Sign In</h1>
      <p>Welcome back, it's good to see you.</p>
    </div>
    <div class="spacer _16"></div>
    <%= form_for(:admin, url: admin_sessions_path) do |f| %>
      <div class="mb-3">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Enter your email" %>
      </div>
      <br>
      <div class="mb-3">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control", placeholder: "*******" %>
      </div>

      <div class="mb-3">
        <%= f.submit "Log in", class: "btn btn-primary" %>
      </div>
    <% end %>
    <p class="paragraph small no-margin">
      Forgot your password? <a href="/reset-password">Reset it here.</a>
    </p>
  </div>
</div>
