<%= render "shared/auth_navbar" %>

<section class="publication-details-section">
  <h2><b><%= @publication.title %></b></h2>
  <div class="publication-user-details">
    <%= image_tag(@publication.user.avatar_url) %>
    <div>
      <h4><%= @publication.user.full_name %><br>
      <span><%= formattedDateTime(@publication.created_at) %></span>
    </div>
  </div>
  <hr>
  <b><h3>Abstract</h3></b>
  <p><%= @publication.abstract %></p>
  <br>
  <br>
  <p><%= @publication.content %></p>
</section>

<%= render "layouts/footer" %>