<%= render "shared/auth_navbar" %>

<section class="publication-details-section">
  <h2><b><%= @publication.title %></b></h2>
  <div class="publication-user-details">
    <div>
      <span><%= capitalize_string(@publication.user.full_name) %> | <%= formattedDateTime(@publication.created_at) %> | <%= link_to "Edit", edit_publication_path %> | <%= link_to "Delete", publication_path(@publication), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %></span>
    </div>
  </div>
  <hr>
  <b><h3>Abstract</h3></b>
  <p><%= @publication.abstract %></p>
  <br>
  <p><%= simple_format(@publication.content) %></p>
  <br>
  <%= render "comments/comment", publication: @publication %>
  <br>
  <%= render "comments/comments", comments: @publication.comments %>
</section>

<%= render "layouts/footer" %>