<%= render "layouts/navbar" %>

<section class="subscription-section">
  <h2>Update Subscription</h2>
  <br>
  <%= form_with(model: @subscription, local: true) do |form| %>
    <% if @subscription.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

        <ul>
          <% @subscription.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= form.label "Pick subscription type."%>
      <%= form.select :subscription_type_id, SubscriptionType.all.collect { |p| [ (p.name.capitalize + " $" + p.price.to_s + " for 30 days"), p.id ] }, include_blank: "Select subscription type", class: "custom-select" %>
    </div>

    <br>
    
    <div class="mb-3">
      <%= form.submit "Subscribe now", class: "btn btn-primary" %>
    </div>
  <% end %>
</section>

<%= render "layouts/footer" %>