<div class="footer">
  <div class="footer-container w-container">
    <div class="w-layout-grid footer-grid">
      <div
        id="w-node-b66374b8-a69d-2cb6-3980-23c2cf3fcb8a-cf3fcb86"
        class="footer-logo-box"
      >
        <a
          data-ix="logo"
          href="/"
          aria-current="page"
          class="footer-logo w-nav-brand w--current"
        >
          <img
            src="https://assets.website-files.com/6398008a5a4ad6e37cf1cc10/63f822ced2d7941c2bd8fe97_AI%20Small%20Logo.svg"
            width="90"
            alt=""
          />
        </a>
        <p class="paragraph small">
          Built by
          <a href="https://www.khansuk.com" target="_blank"
            >Khansuk Digital Agency</a
          >
        </p>
        <div class="spacer _48"></div>
      </div>
      <div class="footer-links-container">
        <h5 class="footer-header">Links</h5>
        <%= link_to "Pricing", pricing_path, class: "nav-link w-nav-link" %>
        <%= link_to "FAQs", faqs_path, class: "nav-link w-nav-link" %>
        <%= link_to "Publications", publications_path, class: "nav-link w-nav-link" %>
        <%= link_to "Contact", contact_path, class: "nav-link w-nav-link" %>
        <%= link_to "Terms & Conditions", terms_path, class:"footer-link" %>
        <%= link_to "Privacy Policy", privacy_path, class: "footer-link" %>
      </div>
      <div class="footer-links-container">
      </div>
      <div
        id="w-node-_32f30c02-3be8-5b74-37a8-a671b034e6d6-cf3fcb86"
        class="text-box _400px"
      >
        <h5 class="footer-header">Contact us</h5>
        <p class="paragraph small">
          Visit our physical location and let's talk.
        </p>
      </div>
    </div>
    <div class="spacer _64"></div>
    <div class="horizontal-line"></div>
    <div class="lower-footer-grid">
      <div class="paragraph small no-margin">
        © 2023 AI. All Rights Reserved.
      </div>
      <div
        id="w-node-_37d13e64-de06-edf8-ab96-0ddb1cc90034-cf3fcb86"
        class="footer-social-section"
      >
        <div class="social-grid">
          <a
            href="https://twitter.com/"
            target="_blank"
            class="social-link w-inline-block"
          >
            <img
              src="https://assets.website-files.com/6398008a5a4ad6e37cf1cc10/6398008a5a4ad6403ff1cc94_Vector.svg"
              loading="lazy"
              alt=""
              class="social-link-icon"
            />
          </a>
          <a
            href="https://www.linkedin.com/"
            target="_blank"
            class="social-link w-inline-block"
          >
            <img
              src="https://assets.website-files.com/6398008a5a4ad6e37cf1cc10/6398008a5a4ad642f2f1cc93_LinkedIn%20-%20Negative.svg"
              loading="lazy"
              alt=""
              class="social-link-icon"
            />
          </a>
          <a
            href="https://www.youtube.com/"
            target="_blank"
            class="social-link w-inline-block"
          >
            <img
              src="https://assets.website-files.com/6398008a5a4ad6e37cf1cc10/6398008a5a4ad6d666f1cc92_Facebook%20-%20Negative.svg"
              loading="lazy"
              alt=""
              class="social-link-icon"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>